
# **Data Preparation & Stock Analysis**

Use the 6 stocks ['IBM', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'FB'] historical data of 2018 from Yahoo.

For example, to download IBM data, use the following link to go to yahoo finance page. Find the "Download Data" link to download the csv file to you local disk.https://finance.yahoo.com/quote/IBM/history? period1=1514782800&period2=1546232400&interval=1d&filter=history&frequency=1d

1. Replace "IBM" with other stock symbol in the above URL, you will be able to download data for other stocks.

2. Load the data to dataframes. You will have 6 dataframes.

3. Compute the dividends. There are two columns in each csv file, "Close" and "Adj Close". If we compute the ratio of previous day's "Close" price and today's "Close" price, then compare with the ratio of previous day's "Adj Close" price and today's "Adj Close" price, on most of days, the two ratios should be equal. On dividend day, the two ratios will have a difference. The difference times today's "Close" price, you will get the dividend. As the example below, you should be able to use the method to reproduce the $1.5 dividend on 2/8/2018.

4. You result will have 6 dataframes, each of them have two columns, Date and Dividend. The dataframe should only have the rows that represent the divident day and amount.

In [ ]:
getwd()

install.packages("dplyr")
library(dplyr)

[1] "/Users/maryanastef/RProgrammingHW"

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
#IBM DATA
ibm=read.csv(file="/Users/maryanastef/RProgrammingHW/IBM1.csv", header=TRUE)
head(ibm)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 154.50 154.81 153.54 154.25 129.0939  4202500
2 2018-01-03 157.34 159.81 156.33 158.49 132.6424  9441600
3 2018-01-04 159.65 162.32 159.37 161.70 135.3289  7556200
4 2018-01-05 162.44 162.90 161.10 162.49 135.9901  5195800
5 2018-01-08 162.66 163.91 161.70 163.47 136.8102  5237500
6 2018-01-09 163.90 164.53 163.06 163.83 137.1115  4341800

In [ ]:
#Divident of IBM
IBM_Divident=ibm %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

IBM_Divident

  Date       Divident
1 2018-02-08 1.500034
2 2018-05-09 1.569984
3 2018-08-09 1.570018
4 2018-11-08 1.570005

In [ ]:
#MICROSOFT DATA
msft=read.csv(file="/Users/maryanastef/RProgrammingHW/MSFT.csv", header=TRUE)
head(msft)

  Date       Open  High  Low   Close Adj.Close Volume
1 2018-01-02 86.13 86.31 85.50 85.95 81.84829  22483800
2 2018-01-03 86.06 86.51 85.97 86.35 82.22920  26061400
3 2018-01-04 86.59 87.66 86.57 87.11 82.95293  21912000
4 2018-01-05 87.66 88.41 87.43 88.19 83.98138  23407100
5 2018-01-08 88.20 88.58 87.60 88.28 84.06710  22113000
6 2018-01-09 88.65 88.73 87.86 88.22 84.00996  19484300

In [ ]:
#Divident of Microscoft
MSFT_Divident=msft %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

MSFT_Divident

  Date       Divident
1 2018-02-14 0.4199991
2 2018-05-16 0.4200162
3 2018-08-15 0.4200147
4 2018-11-14 0.4600116

In [ ]:
#GOOGLE DATA

google=read.csv(file="/Users/maryanastef/RProgrammingHW/GOOG.csv", header=TRUE)
head(google)

  Date       Open    High    Low      Close   Adj.Close Volume
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500

In [ ]:
#Divident of Google

GOOG_Divident=google %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

GOOG_Divident

     Date Divident

In [ ]:
#APPLE DATA

apple=read.csv(file="/Users/maryanastef/RProgrammingHW/AAPL.csv", header=TRUE)
head(apple)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.24827  102223600
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.24109  118071600
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.43266   89738400
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 41.90438   94640000
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 41.74874   82271200
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 41.74395   86336000

In [ ]:
#Divident of Apple

APPLE_Divident=apple %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

APPLE_Divident

  Date       Divident
1 2018-02-09 0.1574955
2 2018-05-11 0.1825011
3 2018-08-10 0.1824980
4 2018-11-08 0.1824985

In [ ]:
#AMAZON DATA

amazon=read.csv(file="/Users/maryanastef/RProgrammingHW/AMZN.csv", header=TRUE)
head(amazon)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300

In [ ]:
#Divident of AMAZON

AMZN_Divident=amazon %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

AMZN_Divident

     Date Divident

In [ ]:
#FACEBOOK DATA
fb=read.csv(file="/Users/maryanastef/RProgrammingHW/FB.csv", header=TRUE)
head(fb)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100

In [ ]:
#Divident of FACEBOOK
FB_Divident=fb %>% mutate(RatioDiff=(lag(Close)/Close)-(lag(Adj.Close)/Adj.Close),Divident=RatioDiff*Close)%>% select(Date,Divident) %>% filter(abs(Divident)>0.01)

FB_Divident

     Date Divident